<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".EnterEmail"
            android:label="@string/title_activity_enter_email"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EnterName"
            android:label="@string/title_activity_enter_name"
            android:parentActivityName=".EnterEmail"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EnterEmail" />
        </activity>
        <activity
            android:name=".EnterUserType"
            android:label="@string/title_activity_enter_user_type"
            android:parentActivityName=".EnterName"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EnterName" />
        </activity>
        <activity
            android:name=".EnterPassword"
            android:label="@string/title_activity_enter_password"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".DoctorHome"
            android:label="@string/title_activity_doctor_home"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".PatientHome"
            android:label="@string/title_activity_patient_home"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name=".DisplayDoc"
            android:label="@string/title_activity_display_doc"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".MakeAppointment"
            android:label="@string/title_activity_make_appointment"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".DisplayPatient"
            android:label="@string/title_activity_display_patient"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".WritePresciption"
            android:label="@string/title_activity_write_presciption"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".EnterSpeciality"
            android:label="@string/title_activity_enter_speciality"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".EnterHospitalDet"
            android:label="@string/title_activity_enter_hospital_det"
            android:theme="@style/AppTheme"></activity>
    </application>


</manifest>